html,
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  background: url("./images/background.jpg") center/cover fixed no-repeat;
  color: #444;
}

header {
  text-align: center;
}

.list li {
  list-style: none;
  text-align: center;
  padding: 1%;
}

input {
  border: none;
  border-radius: 0.5rem;
  padding: 1%;
  margin: 1%;
}

button {
  border: none;
  background-color: #444;
  color: lightgray;
  border-radius: 0.5rem;
  margin: 1%;
  padding: 1%;
  font-weight: 700;
}
